/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, cv.component.scss */
.marginLeft {
  margin-left: 30px;
}

/* line 28, cv.component.scss */
.cv-container {
  -moz-box-shadow: black 2px 2px 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  width: 100%;
  display: table;
}
@media screen and (min-width: 1200px) {
  /* line 28, cv.component.scss */
  .cv-container {
    width: 1200px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
/* line 41, cv.component.scss */
.cv-container .cv-left-container {
  display: table-cell;
  height: 100%;
  font-size: 20px;
  padding: 30px 0px;
  display: table-cell;
  color: white;
  background-color: #0099DD;
  width: 33%;
}
@media screen and (max-width: 900px) {
  /* line 41, cv.component.scss */
  .cv-container .cv-left-container {
    display: table-row;
  }
}
@media screen and (max-width: 900px) {
  /* line 41, cv.component.scss */
  .cv-container .cv-left-container {
    display: table-row;
    width: 100%;
  }
}
/* line 53, cv.component.scss */
.cv-container .cv-left-container .picturePlusContact {
  display: inline-table;
  width: 100%;
}
/* line 57, cv.component.scss */
.cv-container .cv-left-container .picturePlusContact .picture-container {
  display: table-row;
}
@media screen and (max-width: 900px) {
  /* line 57, cv.component.scss */
  .cv-container .cv-left-container .picturePlusContact .picture-container {
    display: table-cell;
    width: 50%;
    height: 100%;
  }
}
/* line 65, cv.component.scss */
.cv-container .cv-left-container .picturePlusContact .picture-container .picture {
  margin: 30px  auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  background: url(img/gplumey.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
/* line 80, cv.component.scss */
.cv-container .cv-left-container .picturePlusContact .contact {
  display: table-row;
}
@media screen and (max-width: 900px) {
  /* line 80, cv.component.scss */
  .cv-container .cv-left-container .picturePlusContact .contact {
    width: 50%;
    display: table-cell;
  }
}
/* line 90, cv.component.scss */
.cv-container .cv-left-container .picturePlusContact .contact .name {
  font-weight: bold;
  font-size: 32px;
  padding-top: 15px;
  padding-left: 30px;
  display: block;
}
/* line 96, cv.component.scss */
.cv-container .cv-left-container .picturePlusContact .contact address {
  padding-top: 15px;
  padding-left: 30px;
  display: block;
}
/* line 100, cv.component.scss */
.cv-container .cv-left-container .picturePlusContact .contact age {
  padding-top: 15px;
  padding-left: 30px;
  display: block;
}
/* line 106, cv.component.scss */
.cv-container .cv-left-container .picturePlusContact md-actions-bar {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 900px) {
  /* line 112, cv.component.scss */
  .cv-container .cv-left-container .additionalSections {
    display: none;
  }
}
/* line 122, cv.component.scss */
.cv-container .cv-right-container {
  font-size: 20px;
  padding: 30px 0px;
  display: table-cell;
  color: black;
  background-color: white;
  width: 67%;
}
@media screen and (max-width: 900px) {
  /* line 122, cv.component.scss */
  .cv-container .cv-right-container {
    display: table-row;
  }
}
@media screen and (max-width: 900px) {
  /* line 122, cv.component.scss */
  .cv-container .cv-right-container {
    width: 100%;
  }
}
/* line 130, cv.component.scss */
.cv-container .cv-right-container .title {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-top: 25;
  height: 100px;
}
/* line 137, cv.component.scss */
.cv-container .cv-right-container skill {
  display: inline-block;
  width: 25%;
}
/* line 144, cv.component.scss */
.cv-container .additionalSectionsSmallScreen {
  color: white;
  background-color: #0099DD;
  font-size: 20px;
  padding: 30px 0px;
  display: table-cell;
  display: table;
  width: 100%;
  padding-bottom: 10x;
}
@media screen and (max-width: 900px) {
  /* line 144, cv.component.scss */
  .cv-container .additionalSectionsSmallScreen {
    display: table-row;
  }
}
@media screen and (min-width: 900px) {
  /* line 144, cv.component.scss */
  .cv-container .additionalSectionsSmallScreen {
    display: none;
  }
}
/* line 154, cv.component.scss */
.cv-container .additionalSectionsSmallScreen skill {
  display: inline-block;
  width: 25%;
}

/* line 163, cv.component.scss */
entry {
  padding-top: 15px;
  padding-left: 30px;
  display: block;
}
