@import "../styles/screen";
.mission{
    display: table;
    width: 100%;
    margin-right:$h-margin;
    padding-top: 3px;
    padding-bottom: 3px;

    .date {
        display: table-cell;
        width: 20%;
        text-align: center; 
    }

 
    .description{ 
        width: 80%;
        display: table-cell;
    }
    
    .title {
        font-weight: bold;
    }
    
    .env {
        color:$secondary-color;
          margin-top: $v-margin /2 ;
    }
    
    .subject {
       // margin-top: $v-margin /2 ;
    }
    
  
}